###> symfony/framework-bundle ###
*/config/secrets/prod/prod.decrypt.private.php
*/public/bundles/
*/src/.preload.php
*/var/
*/vendor/
*/migrations/
*/*.lock
###< symfony/framework-bundle ###

*/.env.dev.local
*/.env.local

###> symfony/phpunit-bridge ###
*.phpunit
*.phpunit.result.cache
*/phpunit.xml
###< symfony/phpunit-bridge ###

s*.lo1
~$*
~W*
*/*.vpp.bak_*

# User-specific stuff
.idea/
