{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-7">
    {% block box %}{% endblock %}
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script>
    $('#box').addClass('active');
</script>
{% endblock %}