{% extends 'dedier/box.html.twig' %}

{% block title %}{{parent()}} - Edit Dedier{% endblock %}
{% block titre %}Edit Dedier{% endblock %}
{% block box %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Edit Dedier</h3>
    </div>
    {{ include('dedier/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
