{% extends 'box.html.twig' %}

{% block title %}{{parent()}} - Edit Dedier{% endblock %}
{% block titre %}Edit Dedier{% endblock %}
{% block box %}

    {{ include('dedier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dedier_index') }}">back to list</a>

    {{ include('dedier/_delete_form.html.twig') }}
{% endblock %}
