{% extends 'base.html.twig' %}
{% block title %}{{parent()}} - Box{% endblock %}
{% block titre %}Box{% endblock %}
{% block body %}
<div class="col-md-7">
    {% if dediers != null %}
    {% include "dedier/box.html.twig" %}
    {% else %}
    <!-- inclure le formulaire de creation du premier dedier -->
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
{{parent()}}
<script>
    $('#box').addClass('active');
</script>
{% endblock %}