{% extends 'base.html.twig' %}
{% block title %}{{parent()}} - Box{% endblock %}
{% block titre %}Box{% endblock %}
{% block body %}
<div class="col-md-7">
    {% include "dedier/box.html.twig" %}
</div>
<div class="col-md-5">
    {{render(controller('App\\Controller\\DedierIPController::index'))}}
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script>
    $('#box').addClass('active');
</script>
{% endblock %}