{% extends 'dedier/index.html.twig' %}
{% block title %}{{ parent() }} - New Dedier{% endblock %}
{% block titre %}New Dedier{% endblock %}
{% block body_box %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">New Dedier</h3>
        </div>
        {{ include('dedier/_form.html.twig') }}
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
    $(document).ready(function() {
        //On récupère la balise <div> en question qui à l'attr "data-prototype"

        let $container = $('div#dedier_DedierIPs');
        //.append('<a href="#" id="add_ip" class="btn btn-default">Ajouter une ip</a>');

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
        let index = $container.find(':input').length;
        $container.append('<a href="#" id="add_ip" class="btn btn-default">Ajouter une ip</a>');

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $('#add_ip').click(function(e) {
              addIp($container);
              e.preventDefault(); // évite qu'un # apparaisse dans l'URL
              return false;
        });

        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un.
        if (index == 0) {
            addIp($container);
        } else {
            // S'il existe déjà des ips, on ajoute un lien de suppression pour chacune d'entre elles
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        // La fonction qui ajoute un formulaire IpType
        function addIp($container) {
              // Dans le contenu de l'attribut « data-prototype », on remplace :
              // - le texte "__name__label__" qu'il contient par le label du champ
              // - le texte "__name__" qu'il contient par le numéro du champ
              let template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Ip n°' + (index+1))
                    .replace(/__name__/g, index)
              ;

              // On crée un objet jquery qui contient ce template
              let $prototype = $(template);

              // On ajoute au prototype un lien pour pouvoir supprimer l'ip
              addDeleteLink($prototype);

              // On ajoute le prototype modifié à la fin de la balise <div>
              $container.append($prototype);

              // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
              index++;
        }

        // La fonction qui ajoute un lien de suppression d'une ip
        function addDeleteLink($prototype) {
              // Création du lien
              let $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

              // Ajout du lien
              $prototype.append($deleteLink);

              // Ajout du listener sur le clic du lien pour effectivement supprimer l'ip
              $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
              });
        }

    });
</script>
{% endblock %}